[user]
	name = Gavin Leake
	email = gleake@gmail.com
[includeIf "gitdir/i:**/work/**"]
  path = ~/.gitconfig_work
[core]
	excludesfile = ~/.gitignore_global
	editor = subl -w -n --launch-or-new-window
	pager = less -F
[pull]
	rebase = false
[push]
	default = current
[init]
	defaultBranch = master
