[user]
	name = Gavin Leake
	email = gleake@gmail.com
[includeIf "gitdir/i:**/work/**"]
  path = ~/.gitconfig_work
[core]
	excludesfile = ~/.gitignore_global
	editor = subl -n -w
[pull]
	rebase = false
[push]
	default = current
[init]
	defaultBranch = master
